<section>
  <div class="background-cont">
    <div class="overlay"></div>
    <div class="login-cont">
      <div class="left banner">
        <div>
          <img class="size" src="/assets/images/logo-white-text.png" alt="">
        </div>
        <div>
          <p class="welcome-text">Welcome!!</p>
        </div>
      </div>
      <div class="right banner">
        <div class="form-cont">
          <h2 class="form-title">Login</h2>

          <div class="form-ctrl">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
          </div>

          <div class="form-ctrl">
            <label for="password">Password</label>

            <input type="password" name="password" id="password" >
          </div>

          <div class="remember-cont">
            <input type="checkbox" name="remember" id="">
            <label for="">Remember Me</label>
          </div>

          <div class="btn-cont">
            <button class="btn" routerLink="/dashboard">Login</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
