* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header ol {
  display: flex;
  list-style: none;
  margin: auto 0;
}

header ol li {
  margin: 0 2px;
} */

/* header ol li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 10px;
} */

/* header ol li:hover a {
  background: blue;
  color: black;
  cursor: pointer;
} */

.Nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.IMG {
  height: 60%;
}

.nav-con {
  background-color: #004b8b;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.link {
  text-decoration: none;
  font-size: 1.1em;
  color: #fff;
  z-index: 999;
  position: relative;
  cursor: pointer;
}

.nav-con ul li {
  list-style: none;
}

.nav-con ul a img {
  margin-left: 2px;
}

.nav-con ul {
  display: flex;
  width: 40%;
}

/* Drop down buttons */
.dropdown .dropbtn {
  border: none;
  outline: none;
  font-family: inherit;
  background-color: inherit;
  color: #fff;
  font-size: 1.1em;
  /* padding-bottom: 100px; */
  cursor: pointer;
  z-index: 999;
  position: relative;
}

/* /////////////////////////////////////////// */

/* Drop down content */
.dropdown-content {
  margin-top: 1px;
  display: none;
  position: absolute;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  height: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.dropdown-content a {
  color: rgba(0, 0, 0, 0.795);
  text-decoration: none;
  display: flex;
  font-family: inherit;
  font-size: 0.9em;
  width: 100%;
  height: 50%;
  padding-left: 10px;
  align-items: center;
  z-index: 999;
}
.dropdown-content .dropbtn:hover {
  background-color: #004a8bf6;
  border-radius: 10px;
  color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 99;
}
.dropdown .dropdown-content a:hover {
  color: #004b8b;
  font-weight: 700;
}

/* /////////////////////////////////////////// */
header{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
}

.top-header{
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
}

.logo-cont{
  width: 300px;
  display: flex;
  align-items: center;
}

.logo-size{
  height: 80px;
  object-fit: contain;
}

.logo-cont h3{
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.search_bar{
  display: flex;
  width: 300px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 20px;
}

.search_bar input {
  border: none;
  width: 100%;
  font-family: var(--pri-font);
  font-weight: 18px;
}

.search_bar input:focus-visible {
  outline: none;
}

.user-cont {
  width: fit-content;
  display: flex;
  gap: 1em;
  align-items: center;
}

.user-cont p span {
  font-family: var(--pri-font);
}
.user-cont img {
  height: 4vh;
}
.icons-cont img {
  height: 3.5vh;
}
.user-cont p span:nth-child(2) {
  text-transform: uppercase;
  font-weight: bold;
}

.icons-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  gap: 0.5em;
}

.icons-cont li {
  padding: 0px 2px;
  cursor: pointer;
  list-style: none;
  margin-right: 30px;
}

.icons-cont li span {
  padding: 0px 2px;
}

.nav-cont {
  position: relative;
  background-color: var(--pri-dim-light-blue);
}

.overlay {
  width: 100%;
  background-image: url("/assets/images/gradient-bg.png");
  height: 100%;
  position: absolute;
  background-position: top;
  background-size: fill;
  z-index: 2;
}

.shade {
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.37);
  position: absolute;
  background-position: top;
  background-size: fill;
  z-index: 3;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 50px;
}

.navbar li {
  list-style-type: none;
}

.navbar li a {
  font-family: Roboto, sans-serif;
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 4;
  font-weight: 300;
  font-size: 19px;
}
