<header>
    <div> <img class="icon" src="../assets/images/logo-blue.png" alt=""></div>
    <div class="search_bar">
        <input type="search" placeholder="search here">
        <span>
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
    </div>
    <ol>
        <li>
            <p>Hello, {{currentUser?.firstName| uppercase}} {{ currentUser?.lastName |uppercase}}
            </p>
        </li>

        <li><a routerLink="/dashboard/dashboard">
                <img class="IMG" src="./assets/images/profile.png" alt="">
            </a>
        </li>
        <li><a routerLink="/dashboard/dashboard">
                <img class="IMG" src="./assets/images/bell.png" alt="">
            </a>
        </li>

        <li><a (click)="logout()"> <img class="IMG" src="./assets/images/logout.png" alt=""></a>
        </li>

    </ol>

</header>
<div class="nav-con">
    <ul class="Nav">
        <li> <a class="link" routerLink="dashboardpage">Dashboard</a></li>
        <li class="dropdown">
            <div>
                <button class="dropbtn"> Accounts <img src="./assets/images/downcaret.png" alt=""> </button>
            </div>

            <div class="dropdown-content">
                <a class="link" routerLink="accounts">Operative Accounts</a>
                <a class="link" routerLink="accounts">Credit Cards</a>
            </div>

        </li>

        <li class="dropdown">
            <div>
                <button class="dropbtn"> Transactions <img src="./assets/images/downcaret.png" alt=""> </button>
            </div>

            <div class="dropdown-content">
                <a class="link" routerLink="transfer">Transfer Funds</a>
                <a class="link" routerLink="top-up">Top Up</a>
            </div>

        </li>
        <li> <a class="link" routerLink="billpay">Bill Payment</a></li>
        <li><a class="link" routerLink="top-up">My Profile</a></li>
    </ul>
</div>