<header>
    <div class="icon"><img scr="">logo Here</div>
    <div class="search_bar">
        <input type="search" placeholder="search here">
        <span>
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
    </div>
    <ol>
        <li>
            <p>Hello, JANE DOE </p>
        </li>

        <li><a href="#">
                <i class="fa-solid fa-user"></i>
            </a>
        </li>
        <li><a href="#">
                <i class="fa-solid fa-bell"></i>
            </a>
        </li>

        <li><a href="#">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </li>

    </ol>

</header>

<ul class="Nav">
    <a routerLink="accounts">Accounts</a>
    <a routerLink="dashboardpage">Dashboard</a>
    <a routerLink="transfer">Transfers</a>
    <a routerLink="billpay">BillPay</a>
    <a routerLink="top-up">Top-Up</a>
</ul>