<nav>
    <div class="icon"><img scr="">logo Here</div>
    <div class="search_bar">
        <input type="search" placeholder="search here">
        <span>
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <ol>
            <li>
                <p>Hello, JANE DOE </p>
            </li>

            <li>
                <i class="fa-solid fa-user"></i>
            </li>
        </ol>
    </div>


    <ul class="Nav">
        <a routerLink="accounts">Accounts</a>
        <a routerLink="dashboardpage">Dashboard</a>
        <a routerLink="transfer">Transfers</a>
        <a routerLink="billpay">BillPay</a>
        <a routerLink="top-up">Top-Up</a>
    </ul>


</nav>