<div>


    <div class="left">

        <details class="Dropdown1">
            <summary>Operative Accounts</summary>
            <div class="card" *ngFor="let account of accounts">
                <div>
                    <p class="title">A/C Number</p>
                    <p class="detials">{{account.accNo}}</p>
                </div>
                <div>
                    <p class="title">Account Name</p>
                    <p class="detials">{{account?.accType?.name}}</p>
                </div>
                <div>
                    <p class="title">Account Balance</p>
                    <p class="detials">{{account.balance | currency}}</p>
                </div>
            </div>
            <div *ngIf="!accounts.length" class="notify"> No available Accounts</div>
        </details>

        <details class="Dropdown2">
            <summary>Credit Cards</summary>
            <div class="card" *ngFor="let creditCard of creditCards">
                <div>
                    <p class="title">Card Number</p>
                    <p class="detials">{{creditCard?.cardNumber}}</p>
                </div>
                <div>
                    <p class="title">Card Limit</p>
                    <p class="detials">{{creditCard?.creditLimit | currency}}</p>
                </div>
                <div>
                    <p class="title">Card Balance</p>
                    <p class="detials">{{creditCard?.availableBalance | currency}}</p>
                </div>
            </div>
            <div *ngIf="!creditCards.length" class="notify"> No available Credit Cards</div>
        </details>


        <details class="Dropdown3">
            <summary class="head">
                <h2>Recent Transfers </h2>
                <h3>View All</h3>
            </summary>
            <div class="card" *ngFor="let transaction of transactions ">
                <div>
                    <p class="title">A/C Number</p>
                    <p class="detials">{{transaction.accId}}</p>
                </div>
                <div>
                    <p class="title">Description</p>
                    <p class="detials">{{transaction.description}}</p>
                </div>
                <div>
                    <p class="title">Date</p>
                    <p class="detials">{{transaction.createdAt | date}}</p>
                </div>
            </div>
            <div *ngIf="!transactions.length" class="notify"> No Transaction</div>
        </details>

    </div>



</div>