* {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.Dropdown1,
.Dropdown2 {
  margin-bottom: 50px;
}
.Dropdown1 > summary,
.Dropdown2 > summary {
  color: rgba(0, 0, 0, 0.603);
  font-size: 1.3em;
  padding: 25px 30px;
  width: 80%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 4px 2px -1px rgba(128, 128, 128, 0.226);
  cursor: pointer;
  list-style: none;
  background-color: #fff;
}

.card {
  margin-top: 10px;
  padding: 15px 30px;
  margin-bottom: 20px;
  background-color: #fff;
  width: 80%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.103);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.603);
}
.details {
  font-size: .5em;
  font-weight: 900;
  color: black;
}

.head {
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #024786;
  height: 60px;
  list-style: none;
  color: #fff;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* position: fixed; */
}
.Dropdown3 {
  width: 81%;
  height: 400px;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.Dropdown3 .card {
  width: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #024786;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #002b53;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
}

summary:before {
  content: "";
  border-width: 0.4rem;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.notify {
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
}
