<div class="mobile-cont">
  <form action="" [formGroup]="topupForm" (ngSubmit)="topUp(topupForm)">
    <h2 class="form-title">Mobile Top-up</h2>
     <div class="form-ctrl">
      <label for="">From Account</label>
      <select name="fromAccount" id="" formControlName="fromAccount">
        <option value="" disabled selected>Select your option</option>
        <option *ngFor="let acc of accounts" value="{{acc._id}}"> {{acc?.accType?.name}}({{acc.accNo}}) -
          {{acc?.balance |currency}}</option>
      </select>
     </div>

     <div class="form-ctrl">
      <label for="">Recipient's Phone number</label>
      <input type="text" name="toRecipient" formControlName="toRecipient">
     </div>


     <!-- <div class="form-ctrl">
      <label for="">Bill Type*</label>
      <select name="transactionType" id="" formControlName="transactionType">
        <option value="{{debitId}}">Debit</option>
      </select>
    </div> -->

    <div class="form-ctrl">
      <label for="">Pick a Company</label>
      <select name="company" id="" formControlName="company">
        <option value="Digicel">Digicel</option>
        <option value="Flow">Flow</option>
      </select>
    </div>



     <div class="inner-flex">
      <select name="currency" id="">
        <option value="JMD">JMD</option>
        </select>
        <div class="form-ctrl">
          <input type="number" placeholder="Amount" formControlName="amount" min="1">
        </div>
    </div>

    <div class="btn-cont">
      <button class="btn" type="submit" [disabled]="!topupForm.valid">Top Up</button>
    </div>
  </form>

</div>



