* {
  font-family: "Inter", sans-serif;
}

.mobile-cont .form-ctrl select{
  width: 90%;
}

.form-title{
  color: transparent;
  margin-bottom: 30px;
  padding: 10px 0px;
  width: 70%;
  border-bottom: 2px solid var(--pri-blue);
  font-weight:300;
  transition: all 300ms ease 0s;
  background: linear-gradient(-20deg,  rgba(238,95,0,1) 35%, rgba(238,95,0,1) 60%, rgba(39,123,196,1)100%);
  background-clip: text;
  /* -webkit-background-clip: text; */
}

.mobile-cont:hover .form-title{
  width: 100%;
}

.form-ctrl input:focus-visible , .form-ctrl select:focus-visible{
  outline: 1px solid var(--pri-light-blue);
  border: none;
  box-shadow: 2px 2px 2px lightblue;
}

.mobile-cont{
  width: 90%;
  background-color: white;
  padding: 4%;
  border-radius: 5px;
  box-shadow: 2px 2px 10px lightgray;
}

.inner-flex{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.inner-flex select{
  width: 100px;
  text-align: center;
}

.btn-cont{
  margin-top: 1.5em;
}

.btn{
  border-radius: 18px;
  background-color: var(--pri-blue);
}




