<div class="footer-cont">
  <div class="top-footer grid-temp">
    <div class="icon-cont grid-temp">
      <i class="fa-solid fa-location-dot"></i>
      <div>
        <h3>Branches & ABM</h3>
        <p>Find a location near</p>
      </div>
    </div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
  </div>
  <div class="mid-footer grid-temp">
  <div>
    <h2>Account Settings</h2>
    <p>Set Alarms</p>
    <p>Customize Accounts</p>
    <p>Manage Users</p>
    <p>My Profile</p>
  </div>

  <div>
    <h2>Open New Accounts</h2>
    <p>Bank Account Application</p>
    <p>Credit Card Application</p>
    <p>Loan Application</p>
    <p>Insurance Plan Application</p>
  </div>

  <div>
    <h2>Services</h2>
    <p>Transfer Money</p>
    <p>Pay Bill</p>
    <p>Accounts</p>
  </div>

  <div>
    <h2>Help</h2>
    <p>FAQ</p>
    <p>How to Guides</p>
  </div>

  </div>
  <div class="bottom-footer grid-temp ">
    <p>Copyright 1999-2018 NCB Jamaica. All Rights Reserved</p>
    <p>Privacy Policy | Terms of Use</p>
    <p>Members of:</p>
  </div>

</div>
