<div class="container">

    <div class="top">
        <div class="box1">
            <div> <img src="./assets/images/icon1.png" alt=""> </div>
            <div class="PP">
                <p>Branches & ABM</p>
                <p>Find a location Near you</p>
            </div>
        </div>
        <div class="box2">
            <div> <img src="./assets/images/icon2.png" alt=""> </div>
            <div class="PP">
                <p>Customer Care</p>
                <p>1-888-622-3477</p>
            </div>
        </div>
        <div class="box3">
            <div> <img src="./assets/images/icon3.png" alt=""> </div>
            <div class="PP">
                <p>Branch Services</p>
                <p>1-878-452-3477</p>
            </div>
        </div>
        <div class="box4">
            <div> <img src="./assets/images/icon4.png" alt=""> </div>
            <div class="PP">
                <p>United Kingdom</p>
                <p>1-878-452-3477</p>
            </div>
        </div>

    </div>
    <div class="mid">
        <div>
            <p class="title">Account Settings</p>
            <p class="details">Set Alerts</p>
            <p class="details">Customize Accounts</p>
            <p class="details">Manage Users</p>
            <p class="details">My Profile</p>
        </div>
        <div>
            <p class="title">Open New Accounts</p>
            <p class="details">Bank Account Application</p>
            <p class="details">Credit Card Appication</p>
            <p class="details">Loan Application</p>
            <p class="details">Insurance Plan Application</p>
        </div>

        <div>
            <p class="title">Services</p>
            <p class="details">Transfer Money</p>
            <p class="details">Pay Bill</p>
            <p class="details">Accounts</p>
        </div>
        <div>
            <p class="title">Help</p>
            <p class="details">FAQ</p>
            <p class="details">How to Guides</p>
        </div>

    </div>
    <div class="bot">
        <p>Copyright 1999-2018 NCB Jamamaica All Rights Resereved</p>
    </div>

</div>