<div class="transfer-cont">
  <h2 class="form-title">Transfer Funds</h2>
    <form #form="ngForm" (ngSubmit)="form.valid && handleSubmit()">
        <div class="inputs">
            <div class="form-ctrl">
                <label for="fromAccount">From Account</label>
                <select [(ngModel)]="data.fromAccount" name="fromAccount" id="fromAccount" required>
                    <option value="">Select</option>
                    <option *ngFor="let account of accounts" [value]="account?._id">{{account?.accType?.name}}({{account.accNo}}) -
                      {{account?.balance |currency}}</option>

                </select>
            </div>

            <div class="form-ctrl">
                <label for="toAccount">Beneficiary</label>
                <select name="toAccount" id="toAccount" [(ngModel)]="data.toAccount" required>
                    <option value="">Select</option>
                    <option *ngFor="let beneficiary of beneficiaries" [value]="beneficiary?.accId">
                        {{beneficiary?.name}}
                    </option>
                </select>

            </div>
        </div>

        <div class="inner-flex">
          <select name="currency" id="">
            <option value="JMD">JMD</option>
            </select>
            <div class="form-ctrl">
                <label for="amount"></label>
                <input type="number" [(ngModel)]="data.amount" id="amount" name="amount" required min="1">
            </div>
        </div>

        <div class="btn-cont">
          <button class="btn" type="submit" [disabled]="!form.valid">Transfer</button>
        </div>

    </form>


    <!--"10010007" -->

</div>
