<div class="right">

    <div class="float-tab1">
        <p> Good Morning, <span style="color: var(--pri-orange);">{{currentUser?.username}}</span>
        </p>
    </div>

    <div class="float-tab2">
        <div class="qLinks">
            <img src="../assets/images/quick1.png" alt=""> Quick Links
        </div>
        <div class="link">
            <li>
                <a routerLink="/dashboard/transfer">Transfer Money</a><img src="../assets/svgs/Vector.svg" alt="">
            </li>
            <li>
                <a routerLink="/dashboard/billpay">Bill Payment</a> <img src="../assets/svgs/Vector.svg" alt="">
            </li>
            <li>
                <a routerLink="/dashboard/top-up">Top Up</a><img src="../assets/svgs/Vector.svg" alt="">
            </li>

        </div>
    </div>
</div>
