<div class="bill-cont">
  <h2 class="form-title">Bill Payment</h2>
  <form action="" [formGroup]="billForm" (ngSubmit)="payBill(billForm)">
    <div class="form-ctrl">
      <label for="">Choose An Account*</label>
      <select name="accountId" id="" formControlName="accountId">
        <option *ngFor="let acc of accounts" value="{{acc._id}}"> {{acc?.accType?.name}}({{acc.accNo}}) -
          {{acc?.balance |currency}}
        </option>

      </select>
    </div>
    <div class="upper-flex">
    <!-- <div class="form-ctrl">
      <label for="">Bill Type*</label>
      <select name="transactionType" id="" formControlName="transactionType">
        <option value="{{debitId}}" selected >Debit</option>
      </select>
    </div> -->

    <div>
      <div class="form-ctrl">
        <label for="">Payee Info</label>
        <input type="text" placeholder="Name" formControlName="description">
      </div>

    </div>
  </div>
  <div class="lower-flex">
    <div class="form-ctrl">
      <label for="">Amount*</label>
    </div>

    <div class="inner-flex">
      <select name="currency" id="">
        <option value="JMD">JMD</option>
        </select>
        <div class="form-ctrl">
          <input type="number" placeholder="Amount" formControlName="amount" min="1">
        </div>
    </div>

  </div>

  <div class="btn-cont">
    <button class="btn" type="submit" [disabled]="!billForm.valid">Pay bill</button>
  </div>
  </form>
</div>

