<div class="bill-cont">
  <form action="">
    <div class="upper-flex">
    <div class="form-ctrl">
      <label for="">Bill Type*</label>
      <input type="text" placeholder="Select">
    </div>

    <div>
      <div class="form-ctrl">
        <label for="">Payee Info</label>
        <input type="text" placeholder="Name">
      </div>
      <div class="form-ctrl">
        <input type="text" placeholder="Account Info">
      </div>
    </div>
  </div>
  <div class="lower-flex">
    <div class="form-ctrl">
      <label for="">Amount*</label>
    </div>

    <div class="inner-flex">
      <select name="currency" id="">
        <option value="JMD">JMD</option>
        </select>
        <div class="form-ctrl"><input type="text" placeholder="Amount"></div>
    </div>

  </div>

  <div class="btn-cont">
    <button class="btn">Pay bill</button>
  </div>
  </form>
</div>
