* {
  font-family: "Inter", sans-serif;
}

.search-bar {
  width: 100%;

  box-shadow: 1px 4px 2px -1px gray;
  display: flex;
  height: 110px;
  margin-bottom: 40px;
}

.L1 {
  background-color: #022645;
  color: #fff;
  margin-right: 30px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}
.L2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.L2 input {
  width: 80%;
  height: 35%;
  margin-right: 30px;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.search-btn button {
  padding: 6px 25px;
  cursor: pointer;
  background-color: #022645;
  color: #fff;
  font-size: 1em;
}

.card {
  padding: 15px 30px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.103);
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.title {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.603);
}
.details {
  font-size: 1em;
  font-weight: 900;
  color: black;
}

.header {
  background-color: #0156a2;
  padding: 25px 30px;
  border-radius: 10px;
  font-size: 1.55em;
  color: white;
  font-weight: 500;
}
.tab1 {
  width: 80%;
}

.tab {
  height: 600px;
  overflow-y: scroll;
  box-sizing: content-box;
  padding-right: 17px;
  width: 81%;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #024786;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #002b53;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;
}
